@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    font-size: 16px;
    font-family: 'poppins', sans-serif;

    --main-background: rgb(15, 15, 15);
    --input-background: rgb(24, 24, 24);
    --header-border: rgb(44, 44, 44);

    --white-text: rgb(170, 170, 170);
    --anchor-color: rgb(196, 43, 43);
}
html, body {
    background-color: var(--main-background);
    margin: 0px;
}
.svg-icon {
    fill: white;
    margin-right: 1rem;
}
#app {
    width: 100%;
    height: 100%;
}
#content {
    width: 100vw;
    height: 100vh;
}
header {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid var(--header-border);
    -webkit-box-shadow: 0px 10px 20px -9px rgba(20,20,20,1);
    -moz-box-shadow: 0px 10px 20px -9px rgba(20,20,20,1);
    box-shadow: 0px 10px 20px -9px rgba(20,20,20,1);
}
header > h1 {
    margin: 1.5rem 4rem;
    color: var(--white-text);
    letter-spacing: 2px;
}
header > input {
    max-height: 3rem;
    max-width: 15rem;
    margin: 1.5rem 6rem;
    padding-left: 0.5rem;

    font-size: 1.2rem;

    outline: none;
    border: 1px solid var(--header-border);
    background-color: var(--input-background);
    color: var(--white-text);
}
header > input::placeholder {
    color: var(--white-text);
}
#city-weather-container {
    width: 100%;
    height: 83%;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--header-border) var(--input-background);

    display: flex;
    flex-direction: column;
    align-items: center;
}
#city-weather-container::-webkit-scrollbar {
    width: 1rem;
}
#city-weather-container::-webkit-scrollbar-thumb {
    background-color: var(--header-border);
}
#city-weather-container::-webkit-scrollbar-track {
    background-color: var(--input-background);
}
#city-weather-container > h2 {
    color: var(--white-text);
    font-size: 2rem;
    letter-spacing: 3px;
}
.forecast-table {
    color: var(--white-text);
    width: 70%;
    border-spacing: 1rem;
}
.forecast-table > td {
    padding: 1rem 0rem;
}
th {
    text-align: justify;
}
td {
    text-align: justify;
}
.subscript {
    font-size: 0.75rem;
    text-align: center;
}
.hours {
    margin-left: 0.5rem;
    font-weight: bold;
    color: thistle;
}
footer {
    width: 100%;
    height: 5%;
    padding-top: 1rem;

    position: fixed;
    top: auto;
    bottom: 0px;

    text-align: center;
    letter-spacing: 1px;

    border-top: 1px solid var(--header-border);
    color: var(--white-text);
    -webkit-box-shadow: 0px -10px 20px -9px rgba(20,20,20,1);
    -moz-box-shadow: 0px -10px 20px -9px rgba(20,20,20,1);
    box-shadow: 0px -10px 20px -9px rgba(20,20,20,1);
}
footer > a {
    color: var(--anchor-color);
    text-decoration: none;
}
footer > a:hover {
    color: var(--header-border);
}

@media only screen and (max-width: 1200px) {
    :root {
        font-size: 14px;
    }
    .forecast-table {
        width: 80%;
        border-spacing: 2px;
    }
}
@media only screen and (max-width: 800px) {
    :root {
        font-size: 12px;
    }
    .forecast-table {
        width: 90%;
    }
    #city-weather-container > h2 {
        font-size: 1.5rem;
    }
    header > h1 {
        font-size: 1rem;
        margin-top: 3rem;
    }
}